@page "/rule-definitions/{idRuleDefinition:int}/conditions"

@attribute [StreamRendering]

@using BusinessRulesManager.RulesEngine
@using BusinessRulesManager.Services;
@using System.Reflection
@using BusinessRulesManager.Models;

@inject NavigationManager navManager;
@inject IBasicCrudService<BusinessRuleDefinition, int> businessRuleDefinitionService;
@inject IBasicCrudService<Condition, int> conditionService;
@inject IDialogService DialogService
@inject ILambdaService lambdaService

@if (conditions is null && definition is not null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                <h3>RuleConditions for @definition.Name</h3>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Class="d-flex align-right justify-center mud-width-full py-8">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="handleAddNewClick">Add New</MudButton>
                <MudSpacer />
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="async () => await handleGenerateLambdaClick()">Generate Lambda Expression</MudButton>
                <MudSpacer />
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="async () => await saveDefinitionAsync()">Save</MudButton>
                <MudSpacer />
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="async () => await deleteDefinitionAsync()">Delete definition</MudButton>
            </MudPaper>
        </MudItem>
        
    </MudGrid>
    <MudTable T="Condition" Items="@conditions" Hover="true" Breakpoint="Breakpoint.Sm" @ref="mudTable"
              RowClass="cursor-pointer" RowClassFunc="@SelectedRowClassFunc" OnRowClick="RowClickEvent">

        <HeaderContent>
            <MudTh>PropertyName</MudTh>
            <MudTh>Operator</MudTh>
            <MudTh>Value</MudTh>
            <MudTh>DataType</MudTh>
            <MudTh>MinValue</MudTh>
            <MudTh>MaxValue</MudTh>
            <MudTh>ValuesList</MudTh>
            <MudTh>LogicalOperator</MudTh>
            <MudTh>Action</MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd DataLabel="Nr">@context.PropertyName</MudTd>
                <MudTd DataLabel="Sign">@context.Operator</MudTd>
                <MudTd DataLabel="Name">@context.Value</MudTd>
                <MudTd DataLabel="Name">@context.DataType</MudTd>
                <MudTd DataLabel="Name">@context.MinValue</MudTd>
                <MudTd DataLabel="Name">@context.MaxValue</MudTd>
                <MudTd DataLabel="Name">@context.ValuesList</MudTd>
                <MudTd DataLabel="Name">@context.LogicalOperator</MudTd>
                <MudTd DataLabel="Name">
                    <MudButton OnClick="async () => await handleRemoveCondition(context)" Variant="Variant.Filled" Color="Color.Warning">Remove</MudButton>
                </MudTd>
            </RowTemplate>

        </MudTable>

    <h3>Lambda:</h3>
    <p>@lambda</p>
    
}

@code {
    [Parameter]
    public int IdRuleDefinition { get; set; }

    private MudTable<Condition> mudTable;
    private List<Condition> conditions = new List<Condition>();
    private Type objectType;
    private BusinessRuleDefinition definition;
    private string lambda;
    private int selectedRowNumber = -1;

    protected override async Task OnInitializedAsync()
    {
        definition = await this.businessRuleDefinitionService.GetByIdAsync(IdRuleDefinition);
        conditions = definition.Conditions ?? new();
        objectType = Assembly.GetExecutingAssembly().GetTypes().FirstOrDefault(x => x.Name == definition.ObjectType);

        await base.OnInitializedAsync();
    }

    private async Task saveDefinitionAsync()
    {
        await businessRuleDefinitionService.UpdateAsync(definition);
    }

    private async Task handleRemoveCondition(Condition condition)
    {
        await conditionService.DeleteManyAsync(condition.AdditionalConditions);
        await conditionService.DeleteAsync(condition.Id);
        definition.Conditions.Remove(condition);
    }

    private async Task deleteDefinitionAsync()
    {
        await conditionService.DeleteManyAsync(definition.Conditions.Concat(definition.Conditions.SelectMany(x => x.AdditionalConditions)));
        await businessRuleDefinitionService.DeleteAsync(definition.Id);
        navManager.NavigateTo("rule-definitions");
    }

    private void handleAddNewClick()
    {
        DialogParameters<AddRuleConditionDialog> parameters = new();

        parameters.Add(x => x.AddNewlyCreatedCondition, EventCallback.Factory.Create<Condition>(this, addNewlyCreatedCondition));
        parameters.Add(x => x.AddAdditionalConditiont, addAdditionalCondition);
        parameters.Add(x => x.DefinitionObjectType, objectType);

        var options = new DialogOptions { CloseOnEscapeKey = true };

        DialogService.Show<AddRuleConditionDialog>("Add new condition", parameters, options);
    }

    private void RowClickEvent(TableRowClickEventArgs<Condition> tableRowClickEventArgs)
    {
    }

    private string SelectedRowClassFunc(Condition element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;
            return string.Empty;
        }
        else if (mudTable.SelectedItem != null && mudTable.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }

    private async Task addNewlyCreatedCondition(Condition condition)
    {
        condition.Priority = conditions.Count == 0 ? 1 : conditions.Last().Priority + 1;
        conditions.Add(condition);
        await conditionService.CreateAsync(condition);
        StateHasChanged();
    }

    private void addAdditionalCondition(Condition parentCondition, Condition additionalCondition)
    {
        parentCondition.AdditionalConditions.Add(additionalCondition);
        StateHasChanged();
    }

    private async Task handleGenerateLambdaClick()
    {
        lambda = lambdaService.CreateLambda(new BusinessRuleDefinition { Name = "ASD", Conditions = conditions });
        Func<object, bool> compiledMethod = await lambdaService.BuildRuleAsync(definition, "123", objectType);

        bool success = compiledMethod(Activator.CreateInstance(objectType));
    }
}
